<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <title>Stellar Nexus</title>
</head>
<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="navbar-left">
            <a href="/">
            <img src="images/Stellar Nexus Logo.png" alt="Stellar Nexus Logo">
            </a>
        </div>
        
        <div class="navbar-search">
            <img src="images/Telescope.png" alt="Telescope" class="search-icon">
            <input type="text" placeholder="Time to search the sky!" class="search-input">
            <select name="communities" id="community-select" class="search-select">
                <option value="all">All</option>
                <option value="general">General</option>
                <option value="tech">Technology</option>
                <option value="arts">Arts</option>
                <option value="science">Science</option>
                <option value="selling">Marketplace</option>
            </select>
        </div>

        <div class="navbar-right">
            <button id="login-button">Log In</button>
        </div>
                    <!-- Login Popup -->
            <div class="overlay" id="login-overlay">
                <div class="popup">
                    <div class="close-btn">&times;</div>
                    <div class="form">
                        <h2>Log In</h2>
                        <div class="form-element">
                            <label for="login-email">Email</label>
                            <input type="text" class="email" id="login-email" placeholder="Enter Email">
                        </div>
                        <div class="form-element">
                            <label for="login-password">Password</label>
                            <input type="password" class="password" id="login-password" placeholder="Enter Password">
                        </div>
                        <div class="form-element">
                            <input type="checkbox" id="remember-me">
                            <label for="remember-me">Remember me</label>
                        </div>
                        <div class="form-element">
                            <button type="submit">Log In</button>
                        </div>
                        <div class="form-element">
                            <p>New to Stellar Nexus? <a href="#" id="open-signup">Sign Up</a> </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sign-up Popup -->
            <div class="overlay" id="signup-overlay">
                <div class="popup">
                    <div class="close-btn">&times;</div>
                    <div class="form">
                        <h2>Register</h2>
                        <div class="form-element">
                            <label for="signup-email">Email</label>
                            <input type="text" class="email" id="signup-email" placeholder="Enter Email">
                        </div>
                        <div class="form-element">
                            <label for="signup-password">Password</label>
                            <input type="password" class="password" id="signup-password" placeholder="Enter Password">
                        </div>
                        <div class="form-element">
                            <button type="submit" onclick="document.location='index.html'">Register</button>
                        </div>
                        <div class="form-element">
                            <p>Already a member? <a href="#" id="open-signin">Sign In</a> </p>
                        </div>
                    </div>
                </div>
            </div>

    </header>

    <!--Content-->
    <div class="content-wrapper">
        <aside class="sidebar">
            <div class="sidebar-card">
            <h2>Communities</h2>
            <ul>
                <li>
                <img src="images/General.png" alt="General" />
                General
                </li>
                <li>
                <img src="images/Technology.png" alt="Technology" />
                Technology
                </li>
                <li>
                <img src="images/Arts.png" alt="Arts" />
                Arts
                </li>
                <li>
                <img src="images/Science.png" alt="Science" />
                Science
                </li>
                <li>
                <img src="images/Marketplace.png" alt="Marketplace" />
                Marketplace
                </li>
            </ul>
            </div>
        </aside>

        <div class="main-content">
            <div class="post-container">
                <div class="highlighted-post">
                    <div class="post-author">
                        <img src="../../john.jpg">
                        <a href="profile.html">John Pork</a>
                        <div class="post-time"><%=post.createdAt.toLocaleDateString()%></div>
                    </div>
                    <a href="#" class="post-title">
                        <h1>
                            <%=post.title%>
                        </h1>
                    </a>                    
                    <div class="post-desc">
                        <%=post.description%>
                    </div>
                    <div class="post-item-bottom">
                        <div class="post-score">
                            <img src="images/upvote.png" alt="upvote" id="upvote1"/>
                            217
                            <img src="images/downvote.png" alt="downvote" />
                        </div>

                        <div class="post-comment">
                            <img src="images/Comments.png" alt="icon">
                            <p>Comment</p>
                        </div>

                        <a href="#" class="post-community">
                            Technology
                        </a> 
                    </div>

                    <div class="comment-box">
                        <input type="text" placeholder="Add a comment">
                    </div>

                    <div class="sort-comments">
                        <span>Sort by:
                        <select class="sort-comments-select">
                            <option value="Best">Best</option>
                            <option value="Recent">Recent</option>
                        </select></span> 
                    </div>


                    <!--Primary Comments in Post  use class="comment-item" when it is a primary comment-->
                    <div class="comment-item">
                        <div class="post-author">
                            <img src="images/Earth Icon.png">
                            <a href="profile.html">PixelPioneer</a>
                            <div class="post-time">10 minutes ago</div>
                        </div>
                        <div class="comment-spacing">
                            <a href="index.html" class="post-title"> </a>                    
                            <div class="comment-desc">
                                The Nintendo Switch 2 is rumored to bring upgraded hardware, improved display, 
                                and enhanced performance while maintaining its hybrid functionality. If true, 
                                it could redefine portable gaming once again! 
                            </div>
                            <div class="post-item-bottom">
                                <div class="comment-score">
                                    <img src="images/upvote.png" alt="upvote"/>
                                    6
                                    <img src="images/downvote.png" alt="downvote" />
                                </div>
        
                                <div class="comment-item-pic">
                                    <img src="images/Comments.png" alt="icon">
                                    <p>Reply</p>
                                </div>
                            </div>    
                        </div>

                        <!--Secondary Comments in Post (Replies in css file) use class="reply-item" when it is a secondary comment-->
                        <div class="reply2-item">
                            <div class="post-author">
                                <img src="images/Earth Icon.png">
                                <a href="profile.html">GameByteX</a>
                                <div class="post-time">8 minutes ago</div>
                            </div>
                            <div class="comment-spacing">
                                <a href="index.html" class="post-title"> </a>                    
                                <div class="comment-desc">
                                    If the rumors are true, that’s going to be a game-changer! 
                                    I just hope Nintendo balances power with battery life—no one 
                                    wants a handheld that dies too fast. Also, backward compatibility would be a huge win. 
                                    Can’t wait to see if they officially announce it soon! 
                                </div>
                                <div class="post-item-bottom">
                                    <div class="comment-score">
                                        <img src="images/upvote.png" alt="upvote"/>
                                        4
                                        <img src="images/downvote.png" alt="downvote" />
                                    </div>
            
                                    <div class="comment-item-pic">
                                        <img src="images/Comments.png" alt="icon">
                                        <p>Reply</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="reply-item">
                                <div class="post-author">
                                    <img src="images/Earth Icon.png">
                                    <a href="profile.html">JoyConnoisseur</a>
                                    <div class="post-time">2 minutes ago</div>
                                </div>
                                <div class="comment-spacing">
                                    <a href="index.html" class="post-title"> </a>                    
                                    <div class="comment-desc">
                                        Agreed! A more powerful Switch sounds amazing, but battery life and backward 
                                        compatibility are key. If they nail both, plus improve the Joy-Cons to prevent 
                                        drift issues, this could be the ultimate upgrade!
                                    </div>
                                    <div class="post-item-bottom">
                                        <div class="comment-score">
                                            <img src="images/upvote.png" alt="upvote"/>
                                            -1
                                            <img src="images/downvote.png" alt="downvote" id="downvote1"/>
                                        </div>
                
                                        <div class="comment-item-pic">
                                            <img src="images/Comments.png" alt="icon">
                                            <p>Reply</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    
                    <!--User 2-->
                    <div class="comment-item">
                        <div class="post-author">
                            <img src="images/Earth Icon.png">
                            <a href="profile.html">LevelUpLad</a>
                            <div class="post-time">56 minutes ago</div>
                        </div>
                        <div class="comment-spacing">
                            <a href="index.html" class="post-title"> </a>                    
                            <div class="comment-desc">
                                I’m really hoping for OLED as the standard and maybe a higher refresh rate. 
                                A smoother experience would make a huge difference, especially for fast-paced games! 
                            </div>
                            <div class="post-item-bottom">
                                <div class="comment-score">
                                    <img src="images/upvote.png" alt="upvote"/>
                                    4
                                    <img src="images/downvote.png" alt="downvote" />
                                </div>
        
                                <div class="comment-item-pic">
                                    <img src="images/Comments.png" alt="icon">
                                    <p>Reply</p>
                                </div>
                            </div>    
                        </div>
                    </div>
                    
                    <!-- User 3 -->
                    <div class="comment-item">
                        <div class="post-author">
                            <img src="../../john.jpg">
                            <a href="profile.html">John Pork</a>
                            <div class="post-time">34 minutes ago</div>
                        </div>
                        <div class="comment-spacing">
                            <a href="index.html" class="post-title"> </a>                    
                            <div class="comment-desc">
                                Nintendo always does its own thing, so I wouldn’t be surprised if they focus more on 
                                innovation than pure specs. But if we get DLSS support, that could be a massive leap for 
                                handheld visuals! 
                            </div>
                            <div class="post-item-bottom">
                                <div class="comment-score">
                                    <img src="images/upvote.png" alt="upvote"/>
                                    4
                                    <img src="images/downvote.png" alt="downvote" />
                                </div>
        
                                <div class="comment-item-pic">
                                    <img src="images/Comments.png" alt="icon">
                                    <p>Reply</p>
                                </div>
                            </div>    
                        </div>
                    </div>


                </div>


            </div>
        </div>

        <aside class="right-sidebar">
            <!-- Home Card -->
            <div class="card home-card">
                <div class="card-image-wrapper">
                    <img src="images/Home Image.png" alt="Home Image" class="card-image">
                </div>
                <div class="card-content">
                    <div class="card-heading">
                        <img src="images/Technology.png" alt="Technology Icon" class="heading-icon">
                        <h2>Tech</h2>
                    </div>
                    <p>Welcome to the Technology sector of our constellation-themed forum. Explore the latest innovations, 
                        share your knowledge, and connect with others shaping the future of tech.</p>
                </div> 
            </div>
          
            <!-- Contact Us Card -->
            <div class="card contact-card">
              <h2>Contact Us!</h2>
              <p>For any concerns with the forum, please send an email to the developers:</p>
              <div class="contact-list-wrapper">
                <ul>
                    <li>Marvin Ivan Mangubat<br>marvin_mangubat@dlsu.edu.ph</li>
                    <li>Radny Intino<br>radny_intino@dlsu.edu.ph</li>
                    <li>Russell Emmanuel Galan<br>russell_galan@dlsu.edu.ph</li>
                </ul>
            </div>
            </div>
          </aside>

    </div>
    <script src="js/postviewlogin.js"></script>
</body>
</html>