<aside class="sidebar">
    <div class="sidebar-card">
    <h2>Communities</h2>
    <ul>
        <li>
        <img src="/images/General.png" alt="General" />
        General
        </li>
        <li>
        <img src="/images/Technology.png" alt="Technology" />
        Technology
        </li>
        <li>
        <img src="/images/Arts.png" alt="Arts" />
        Arts
        </li>
        <li>
        <img src="/images/Science.png" alt="Science" />
        Science
        </li>
        <li>
        <img src="/images/Marketplace.png" alt="Marketplace" />
        Marketplace
        </li>
    </ul>
    </div>
</aside>